.home{
    color:white;
    background-color: rgb(31, 30, 32);
    width:100%;
    height:594px
}

.logo h1{
     letter-spacing: -5px;
}

[type=button]{
    color:white;
    background-color: rgb(59, 55, 65);
    border:0px;
}

.footer{
    
    width:100%;
    background-color: black;
    color: white;
    height:112px;
}

.footer1{
    height:56px;
}

.footer2{
    height: 56px;
}

hr{
    color:antiquewhite;
    height:1px;
}